<div class = "page-title">
  <div class = "container">
  	<h2><span class="glyphicon glyphicon-glass"></span>New User<small></small></h2>
  </div>
</div>  	
<div class= "account-content">
  <div class="container">
  	<h4>Enter User Details</h4>
  	<br>	
    <%= render 'form' %>
  </div>  
</div>
<%= link_to 'Back', users_path %>
