<div class = "page-title">
  <div class = "container">
  	<h2><span class="glyphicon glyphicon-check"></span>Checkout<small></small></h2>
  </div>	
	
</div>
<div class= "checkout">
  <div class="container">	
  	<h4>Please Enter Your Details</h4>
  	<br>
	  <%= render 'form' %>
	</form>  
</div>
