<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-5">
				<!-- Navigation menu -->
				<div class="navi">
					<div id="ddtopmenubar" class="blackmenu">
						<ul>
							<li>
								<%= link_to "Home", '#' %>
							</li>
							<li>
								<%= link_to "Questions", '#' %>
							</li>
							<li>
								<%= link_to "News", '#' %>
							</li>
							<li>
								<%= link_to "Contact", '#' %>>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
